@model DersaneOtomasyon.Admin.Model.MainView
@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-th fa-5x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @Model.ToplamOgrenci
                            </div>
                            <div>
                                Ögrenci
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/Ogrenci">
                    <div class="panel-footer">
                        <span class="pull-left">Detaylar </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>



        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-th fa-5x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @Model.ToplamBolum
                            </div>
                            <div>
                                Bölüm
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/Alan">
                    <div class="panel-footer">
                        <span class="pull-left">Detaylar </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>






        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-th fa-5x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @Model.ToplamVeli
                            </div>
                            <div>
                                Veliler
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/Veli">
                    <div class="panel-footer">
                        <span class="pull-left">Detaylar </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>








        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-th fa-5x"></i>
                        </div>

                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                @Model.ToplamOkul
                            </div>
                            <div>
                                Okullar
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/Okul">
                    <div class="panel-footer">
                        <span class="pull-left">Detaylar </span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>



    </div>
</div>